@CHARSET "UTF-8";
.navbar-nav>li>span{
	color:#9d9d9d !important;
	padding-top:15px;
	padding-bottom:15px;
	line-height:20px;
	position:relative;
	display:block;
	background-color:transparent;
	height:100%;
}
.mgr5{
	margin-right:5px;
}
.mgl5{
	margin-left:5px;
}
.mgt5{
	margin-top:5px;
}
.mgb5{
	margin-bottom:5px;
}
